/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0;
}

/**
 * Basic styling
 */
body {
  box-sizing: border-box;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family;
  color: $text-color;
  background-color: $background-color;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
     -moz-font-feature-settings: "kern" 1;
       -o-font-feature-settings: "kern" 1;
          font-feature-settings: "kern" 1;
  font-kerning: normal;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

/**
 * Wrapper
 */
.wrapper {
  //max-width: calc(#{$content-width} - (#{line-height-times(1)} * 2));
  padding: line-height-times(1/2) line-height-times(2) 0 line-height-times(2);

  margin-right: auto;
  margin-left: auto;
  //padding-right: line-height-times(1);
  //padding-left: line-height-times(1);
  @extend %clearfix;

  @include media-query($on-laptop) {
    padding: line-height-times(1/2) line-height-times(1) 0 line-height-times(1);
  }
}

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure,
%vertical-rhythm {
  margin-bottom: $spacing-unit / 2;
}

/**
 * `main` element
 */
main {
  display: block; /* Default value of `display` of `main` element is 'inline' in IE 11. */
}

/**
 * Images
 */
img {
  max-width: 100%;
  vertical-align: middle;
}

/**
 * Figures
 */
figure > img {
  display: block;
}

figcaption {
  font-size: $small-font-size;
}

/**
 * Lists
 */
ul, ol {
  margin-left: 0;// line-height-times(1);
  //list-style: square outside;
  list-style: none; /* Remove default bullets */
}

.page-content ul li::before {
  content: "\25A0";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
  color: $appleGreen; //$background-color; /* Change the color */
  font-weight: bold; /* If you want it to be bold */
  //display: inline-block; /* Needed to add space between the bullet and the text */
  //width:  line-height-times(1.2); /* Also needed for space (tweak if needed) */
  margin-left: line-height-times(-1.15); /* Also needed for space (tweak if needed) */
  //@include relative-font-size(2.5);
  @include fluid-type(font-size, $minScreen, $maxScreen, 1.5rem, 30rem);
  position: absolute;
  top: line-height-times(-0.35);
}

li {
  position: relative;
  > ul,
  > ol {
    margin-bottom: 0;
  }
}

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font-weight: $base-font-weight;
}

/**
 * Links
 */
a {
  color: $text-color;
  text-decoration: underline;
  transition: 0.3s;

  &:visited {
    color: $text-color;
  }

  &:hover {

    color: $brand-color;
    text-decoration: underline;
  }

  .social-media-list &:hover {
    text-decoration: none;

    .username {
      text-decoration: underline;
    }
  }
}


/**
 * Blockquotes
 */
blockquote {
  color: $grey-color;
  border-left: 4px solid $grey-color-light;
  padding-left: $spacing-unit / 2;
  @include relative-font-size(1.125);
  letter-spacing: -1px;
  font-style: italic;

  > :last-child {
    margin-bottom: 0;
  }
}



/**
 * Code formatting
 */

code {
  //padding: 1px 5px;
}

pre {
  white-space: pre-wrap;
  padding: line-height-times(1);
  //overflow-x: auto;
  //overflow: auto;
  overflow-x:hidden;

  > code {
    border: 0;
    padding-right: 0;
    padding-left: 0;
  }
}



/**
 * Clearfix
 */
%clearfix:after {
  content: "";
  display: table;
  clear: both;
}



/**
 * Icons
 */

.svg-icon {
    width: 16px;
    height: 16px;
    display: inline-block;
    fill: #{$grey-color};
    padding-right: 5px;
    vertical-align: text-top;
}

.social-media-list {
  li + li {
    padding-top: 5px;
  }
}



/**
 * Tables
 */
table {
  margin-bottom: $spacing-unit;
  width: 100%;
  text-align: $table-text-align;
  color: lighten($text-color, 18%);
  border-collapse: collapse;
  border: 1px solid $grey-color-light;
  tr {
    &:nth-child(even) {
      background-color: lighten($grey-color-light, 6%);
    }
  }
  th, td {
    padding: ($spacing-unit / 3) ($spacing-unit / 2);
  }
  th {
    background-color: lighten($grey-color-light, 3%);
    border: 1px solid darken($grey-color-light, 4%);
    border-bottom-color: darken($grey-color-light, 12%);
  }
  td {
    border: 1px solid $grey-color-light;
  }
}
