<article id="custom_policies" class="chapter">
  <section class="summary">
    <h1>Apicast Custom policies </h1>
    <p>Policies can be enabled, disabled, and configured to control how they modify APIcast.
      Use policies to add functionality that is not available in a default APIcast deployment.</p>
  </section>
  <section class="functional">
    <ol class="policy-chain">
      <li class="feature" id=""><a href="https://github.com/3scale/apicast/blob/master/doc/policies.md">Write a custom policy for APIcast</a></li>
      <li class="feature" id=""><a href="https://github.com/search?q=apicast+custom+policy">Discover existing custom  policies</a></li>
    </ol>
  </section>
</article>
